body {
	background-color: #EF6461;
}
a {
	text-decoration: none;
	color: #403D39;
}

a:active {
	opacity: 0.5;
}

#social-nav {
	max-width: 1200px;
	padding: 10px;
	font-family: 'Trocchi', serif;
	word-spacing: 2em;
	float: left;
	border: solid 1px;
}


#api-header {
	font-family: 'Trocchi', serif;
	font-size: 1.5em;
}

#submit {
	background: none;
  	border: 1px solid;
  	font-size: 1em;
}

#search-content {
	position: relative;
	top: 125px;
	left: 250px;
}

#results {
	position: relative;
	left: 650px;
	top: 180px;
}